<footer class="footer">
    <div class="row">

        <p>
            Copyright &copy; 2024 Rawa Aref
        </p>
        <nav class="social-navigation">
            <ul class="social-links">
                {% for social in pages["_meta"].meta.social %}
                    <li>
                        <a href="{{ social.url }}" title="{{ social.title }}" role="button" target="_blank">
                            <i class="fa fa-{{ social.icon }}" aria-hidden="true"></i>
                            {% if social.iconText %}
                                <p class="icon-text">
                                    {{ social.iconText }}
                                </p>
                            {% endif %}
                            <span class="sr-only">
                                {{ social.title }}
                            </span>
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </nav>
    </div>
</footer>
