<footer class="footer">
    <div class="row">
        {% if pages["_meta"].meta.Copyright %}
            <p class="copyright-text">
                {{ pages["_meta"].meta.Copyright }}
            </p>
        {% endif %}
        <nav class="social-navigation">
            <ul class="social-links">
                {% for social in pages["_meta"].meta.social %}
                    <li>
                        <a href="{{ social.url }}" title="{{ social.title }}" role="button" target="_blank">
                            <i class="{{ social.icon }}" aria-hidden="true"></i>
                            {% if social.iconText %}
                                <p class="icon-text">
                                    {{ social.iconText }}
                                </p>
                            {% endif %}
                            <span class="sr-only">
                                {{ social.title }}
                            </span>
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </nav>
    </div>
</footer>
